<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>McRib Monitor</title>
        <script type="text/javascript" src="{{ url_for('static', filename='snap.svg-min.js') }}"></script>
    </head>
    <body>
      <svg id="mcribmap"></svg>
        <script type="text/javascript">

        
            var s = Snap("#mcribmap");

            
            var usa = Snap.load("{{ url_for('static', filename='usa.svg') }}", function ( loadedFragment ) {
            /*    s.append( loadedFragment );
                var t = new Snap.Matrix();
                t.scale(.2);
                s.transform(t);*/

            });

        </script>
    </body>
</html>
