html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: serif;
  height: 100%;
  background: #443344;
}

#map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.circle {
  position: fixed;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #eeee22;
  opacity: 0.2;
}

div.tweet {
  position: fixed;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  padding: 15px;
  width: 400px;
  z-index: 50;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  line-height: 25px;
}

div.pin {
  position: fixed;
  border-radius: 50%;
  background: #ee2222;
  width: 20px;
  height: 20px;
}

div.title {
  position: fixed;
  bottom: 0;
  font-size: 60px;
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 20px;
}
