body {
  font-family: serif;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map-render {
  width: 100%;
  height: 100%;
  float: left;
  background: #443344;
}

div.circle {
  position: fixed;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #882222;
  opacity: 0.4;
}
